doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 硅谷电影-#{movie.title}
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/subject.css")
  body
    div(class="container")
      h1.title #{movie.title}
      div.flex 
        img(src=movie.cover alt=movie.title).cover
        span 评分: #{movie.score}
      div 
        h3.sub-title #{movie.title}的剧情简介
        p &emsp;&emsp;#{movie.summary}
      div 
        h3.sub-title #{movie.title}的视频
        a(href="/trailer/" + movie.id)
          img(src=movie.videoCover, alt=movie.title).movie-cover 